.icon-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-row__icon {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-row__icon i {
  font-size: 35px;
}

.icon-row__icon span {
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
  font-weight: 600;
}

.icon-row .red-dot {
  top: 10px;
  right: 20px;
}
