.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(250, 250, 250);
  border-top: 1px solid rgba(0, 0, 0, 10%);
  padding: 15px 50px;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
}

.nav__notification {
  position: absolute;
  top: -20px;
  right: -15px;
}

.nav__small {
  width: 6px;
  height: 6px;
  top: -12px;
  right: -8px;
}
